<p-toolbar>
  <p-button
    label="Todo List"
    icon="pi pi-list"
    class="mr-2"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    [styleClass]="rla.isActive ? 'p-button-secondary' : ''"
  ></p-button>
  <p-button
    label="Todo Archive"
    icon="pi pi-fast-backward"
    class="mr-2"
    #rla="routerLinkActive"
    routerLinkActive
    routerLink="/archive"
    [styleClass]="!rla.isActive ? 'p-button-secondary' : ''"
  ></p-button>
</p-toolbar>
<div class="card flex justify-content-center">
  <router-outlet></router-outlet>
</div>
